/* Give your page a fun background color */

body {
    background-color: grey;
  }

/* Make the header and footer a different color from the background */
header {
    background-color: white;
    border: 2px solid black;
    padding-left: 15px;
  
   
  }

  footer {
    background-color: white;
    border: 2px solid black;
    padding-left: 20px;
    padding-right: 20px;
  }
/* Align the h1 containing your name in the center of the header*/

h1{
    color: red;
    text-align: center;
  }

/* Make your p tag a different color and italic */

p{
    color: tomato;
    font-size: large;
    font-style: italic;
}

/* Put a border around your image */
img {
    border: 5px solid rgb(27, 79, 128);
  }
/* Change the font-family of your list */
.list {
        color: white;
        font-size: x-large;
        font-family: Baskerville, Arial, Helvetica, sans-serif;
}
h2{
    color: white;
}